button.IconName{
    border:none;
    width: 35px;
    height: 32px;
    background-color:rgb(95, 238, 243);
    padding: 0;
}
svg.add{
    width:20px;
    height:20px;
    color: #FFFF;
    margin: auto;
}