.task{
    width: 100%;

}
div.list{
    width: 80%;
    background-color:white;
    padding: 10px;
    margin:0px 18px 5px;
    border-radius: 5px;
}
.label{
    width: 100%;
    height: 20%;
    text-decoration: none;
}
.label-underline{
    text-decoration: line-through;
}
.icono2{
    color: red;
    margin-left: 150px;
}
h5{
    color: green;
    text-align: center;
    font-size: 10px;
}
.texto{
        width: 40%;
        background-color: black;
        padding: 10px;
        margin: 0 100px 10px;
        border-radius: 5px;
}