#root {
height: 100%;
width: 100%;
}
.container {
  width: 100vw;
  height: 100vh;
  margin-top: auto;
  border-radius: 15px;
  background-color: rgb(31, 35, 41);
  margin-top: 10%;

}
@media (min-width: 400px) {
  .container {
    width: 100vw;
    height: auto;
    margin: auto;
    border-radius: 15px;
    background-color: rgb(31, 35, 41);
    margin-top: 10%;
  }

  .Header {
    height: 35%;
    margin-bottom: 5px;
  }
}@media (min-width: 700px) {
  .container {
    width: 60vw;
    height: auto;
    margin: auto;
    border-radius: 15px;
    background-color: rgb(31, 35, 41);
    margin-top: 10%;
  }

  .Header {
    height: 30%;
    margin-bottom: 5px;
  }
}
@media (min-width: 800px) {
  .container {
    width: 50vw;
    height: auto;
    margin: auto;
    border-radius:15px;
    background-color: rgb(31, 35, 41);
    margin-top: 10%;
  }

  .Header {
    height: 35%;
    margin-bottom: 5px;
  }
  label.label{
    width: 100%;
  }
}
@media (min-width: 1280px) {
  .container {
      width: 35vw;
      height: auto;
      margin: auto;
      border-radius: 15px;
      background-color: rgb(31, 35, 41);
      margin-top: 10%;
    }
    .Header {
      height: 28%;
      margin-bottom: 25px;
    }
}