#root {
height: 100%;
width: 100%;
}
.container {
  width: 50vw;
  height: 50vh;
  margin: auto;
  border-radius: 15px;
  background-color: rgb(31, 35, 41);
}
@media (min-width: 400px) {
  .container {
    width: 100vw;
    height: 60vh;
    margin: auto;
    border-radius: 15px;
    background-color: rgb(31, 35, 41);
  }

  .Header {
    height: 35%;
    margin-bottom: 5px;
  }
}@media (min-width: 700px) {
  .container {
    width: 60vw;
    height: 60vh;
    margin: auto;
    border-radius: 15px;
    background-color: rgb(31, 35, 41);
  }

  .Header {
    height: 30%;
    margin-bottom: 5px;
  }
}
@media (min-width: 800px) {
  .container {
    width: 50vw;
    height: 60vh;
    margin: auto;
    border-radius:15px;
    background-color: rgb(31, 35, 41);
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
  }

  .Header {
    height: 35%;
    margin-bottom: 5px;
  }
  label.label{
    width: 100%;
  }
}
@media (min-width: 1280px) {
  .container {
      width: 35vw;
      height: 75vh;
      margin: auto;
      border-radius: 15px;
      background-color: rgb(31, 35, 41);
      /* display: flex;
      flex-direction:column;
      align-items:center;
      justify-content:center; */
    }
    .Header {
      height: 28%;
      margin-bottom: 25px;
    }
}